version: 2.1

orbs:
  heroku: circleci/heroku@1.2.6

workflows:
  heroku_deploy:
    jobs:
      - build
      - heroku/deploy-via-git:
          requires:
            - build
          filters:
            branches:
              only: sequential-branch-filter
          post-steps:
            - run:
                name: database migrations
                command: go build -o bin/migrations -v .
            - run:
                name: database migrations
                command: bin/migrations
            
jobs:
  build:
    docker:
      - image: circleci/golang:1.16
        environment:
            PGHOST: localhost
            PGUSER: course-chart-be
      - image: postgres:9.5.18
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: course_chart_test
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: go mod download
      - run:
          name: Waiting for Postgres to be ready
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: database migrations
          command: go run ./migrations
      - run:
          name: Run tests
          command: go test